.cart-overlay {
    position: absolute;
    z-index: 1;
    width: 250px;
    right: 0px;
    background-color: white;
}

.cart-list {
    padding: 10px;
    border: 2px #33E3FF solid;
}

.cart-list p {
    display: inline-block;
    width: 110px;
    text-align: left;
}
.cart-list > p:last-child {
    text-align: right;
}

.cart-list p input[type=text] {
    width: 15px;
}