body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0px;
}

.header {
    height: 75px;
    background-color: #F00;
    text-align: right;
    margin-bottom: 10px;
    position: relative;
}

a {
    cursor: pointer;
}

.header > * {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
