.item {
    width: 200px;
    height: 200px;
    display: inline-block;
    position: relative;
    border: 2px #0F0 solid;
    border-radius: 10px;
    margin: 7px;
    padding: 7px;
}

.item .item-title {
    width: 100%;
    height: 20px;
    text-align: center;
    display: inline;
    position: absolute;
}

.item .item-picture {
    max-width: 100%;
    display: block;
    height: 180px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}